* {
    margin: 0px;
    padding: 0px;
}
.haka{
    text-align: center;
    font-size: 10px;
    padding-left: 40px;
}
.haka2{
    padding-left: 50px;
    padding-top: 30px;
}
.haka1{
margin: 30px;
padding: 50px;
background-color: brown;
color: aqua;
font-size: 40px;
}
.rasm1{
    width: 300px;
    height: 300px;
}
.rasm2{
    width: 300px;
    height: 250px;
    padding-bottom: 20px;
}
.savol{
padding-left: 50px;
}
.rasm3{
    width: 310px;
    height: 320px;
}
.haka3{
  padding-left: 50px;
padding-bottom: 30px;
}

.haka4{
    padding-left: 50px;
}

.haka6{
width: 170px;
height: 170px;
}
.haka5{
    width: 170px;
    height: 170px;
}
.haka7{
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
}
.haka8{
    width: 250px;
    height: 200px;
}
.olma{
    width: 200px;
    height: 200px;
    padding-left: 50px;
}
.anjir{
    width: 200px;
    height: 200px;
}
.input1{
    width: 20px;
    height: 20px;
}

.uzb{
    width: 250px;
height: 200px;
}
.rus{
width: 250px;
height: 200px;
background-color: blue;
}

.shav{
    width: 250px;
    height: 250px;
    
}

.vla{
    width: 350px;
    height: 250px;

}

.don{
    width: 350px;
    height: 250px;
}
.hammasi{
    padding-left: 50px;
    padding-bottom: 50px;
}
.jrafa{
    margin-left: 50px;
    width: 270px;
    height: 270px;
    }
    input{
    width: 400px;
    height: 20px;
    border-radius: 25px;
    
    }
    .soroqjon{
        margin-left: 25px;
    }
    .mushuk{
        width: 250px;
        height: 250px;
    }
    .sher{
        width: 250px;
        height: 250px;
    }
    .fargona{
    width: 250px;
    height: 250px;
    }
    .tosh{
        width: 250px;
        height: 250px;
    }
    .sam{
        width: 250px;
        height: 250px;
    }
    .h5{
        width: 250px;
        height: 250px;
    }
    .h6{
        width: 250px;
        height: 250px;
    }
    .h7{
        width: 250px;
        height: 250px;
    }
    .h8{
        width: 250px;
        height: 250px;
    }
    .inputt{
        margin-left: 30px;
    }